<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>모의면접</title>
  <style>

  </style>
    <link href="/css/font.css" rel="stylesheet">
    <link href="/css/interview.css" rel="stylesheet">
    <link href="/css/fadein.css" rel="stylesheet">
    <link th:if="${selected.name == 'man'}" href="/css/interviewMan.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              animation: {
                pulse: 'pulse 1.5s infinite'
              }
            }
          }
        }
    </script>
</head>
<body class="bg-gray-100 font-sans text-black">
  <header class="text-white text-center py-6 shadow" style="background-color: #4a90e2;">
    <h1 class="text-2xl font-bold">🎤 모의면접 시작하기</h1>
  </header>

  <div class="flex flex-row justify-center items-center">
    <img class="w-[200px] h-[200px] man" th:src="'/img/' + ${selected.imgName}">
    <div id="guide" class="guide">
      <div class="speech-bubble fade-in text-center">모의 면접에 오신 걸 환영합니다.</div>
    </div>
  </div>

  <section class="mt-5 mb-8 flex flex-col items-center">
    <h2 class="text-lg font-semibold mb-4" style="color: #4a90e2;">🎥 카메라</h2>
    <div class="mac-window flex items-center justify-center flex-col border-none ">
      <div class="mac-controls">
        <div class="red"></div>
        <div class="yellow"></div>
        <div class="green"></div>
      </div>
      <video id="preview" autoplay muted playsinline class="rounded border w-[576px] h-[384px] bg-black mt-7 mb-5"></video>
      <div class="bottom-2">
        <button id="startBtn"
        class="w-14 h-14 rounded-full bg-red-600 bg-opacity-80 border-4 border-red-800 ring-4 ring-red-300/60 shadow-inner hover:shadow-xl transition-transform duration-200 transform hover:scale-105 mb-2"
        title="녹화 시작">
        </button>
      </div>
    </div>

    <div class="flex flex-col items-centers">
      <div id="recordedContainer" class="mt-10 hidden">
        <h3 class="text-lg font-medium mb-2" style="color: #4a90e2;">📼 동영상 미리 보기</h3>
        <video id="recorded" controls class="rounded border w-[360px] h-[246px] mx-auto"></video>
        <a id="downloadBtn" href="#" download="interview_recording.webm" class="mt-4 bg-blue-500 hover:bg-blue-600 text-white font-semibold px-4 py-2 rounded text-center hidden w-[160px] block mx-auto">💾 동영상 저장하기</a>
      </div>

      <div id="resultContainer" class="mt-10 hidden w-[100%]">
        <h3 class="text-lg font-medium mb-2" style="color: #4a90e2;">📋 모의 면접 분석 결과 보기</h3>
        <button class="mt-4 bg-blue-500 hover:bg-blue-600 text-white font-semibold px-4 py-2 rounded text-center block mx-auto" onclick="resultCheck()">📊 결과 보러 가기</button>
      </div>
    </div>
  </section>
  <script src="/js/interviewCamera.js"></script>
  <script th:src="'/js/' + ${selected.jsName}"></script>
</body>
</html>